# Machine Learning project: Bitcoin Price Prediction

One of the interesting relationship that I noticed on a first glance was the steady increase in price of the cryptocurrency with time. While deeper analysis may reveal times where some sharp decline/drop in the price, it looks like the price of this particular coin has always been on a trajectory **to the moon**. 

I would like my model to be able to predict the price of Bitcoin based on the `date`, the `opening price` and the `volume`.

# Reading the bitcoin.CSV file into a DataFrame

Here I am using pandas to examine the bitcoin.csv file.

Here the bitcoin.csv data file is being read into a data frame using pandas. They `keys()` method is used to display the names of the fields and `head(5)` is used to display the first 5 lines of the data frame.

In [3]:
#importing the data into a pandas dataframe.

import pandas as pd
dataframe_btc = pd.read_csv('bitcoin.csv')

#For the Keys
print(dataframe_btc.keys())

#First five lines of the data frame using head.
dataframe_btc.head(5)

Index(['SNo', 'Name', 'Symbol', 'Date', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Marketcap'],
      dtype='object')

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,4/29/2013 23:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,4/30/2013 23:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,5/1/2013 23:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,5/2/2013 23:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,5/3/2013 23:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

## Part 4 - Quick Overview
Lets get a quick overview of the data using the info() function.

In [5]:
#Using the info() function the get a quick overview of the data.

dataframe_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2991 non-null   int64
 1   Name       2991 non-null   object
 2   Symbol     2991 non-null   object
 3   Date       2991 non-null   object
 4   High       2991 non-null   float64
 5   Low        2991 non-null   float64
 6   Open       2991 non-null   float64
 7   Close      2991 non-null   float64
 8   Volume     2991 non-null   float64
 9   Marketcap  2991 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 233.8+ KB

## _Notes_
`dataframe.info()` is very useful to obtain a quick summary of the data. It is evident from the output above that it provides a very good snapshot of the data. Some of the most noticeable informations are the range of index, the number of columns, the name of the column and the type of data. It also provides information about the data type of each column and the memory  usage.

In [9]:
#Your code here
dataframe_btc['Date'].value_counts()

4/29/2013 23:59     1
10/17/2018 23:59    1
10/8/2018 23:59     1
10/9/2018 23:59     1
10/10/2018 23:59    1
                   ..
1/23/2016 23:59     1
1/24/2016 23:59     1
1/25/2016 23:59     1
1/26/2016 23:59     1
7/6/2021 23:59      1
Name: Date, Length: 2991, dtype: int64

## Looking at the numerical fields
We can look at the numerical fields using the describe() function.

In [10]:
dataframe_btc.describe()

,SNo,High,Low,Open,Close,Volume,Marketcap
count,2991.000000,2991.000000,2991.000000,2991.000000,2991.000000,2.991000e+03,2.991000e+03
mean,1496.000000,6893.326038,6486.009539,6700.146240,6711.290443,1.090633e+10,1.208761e+11
std,863.571653,11642.832456,10869.032130,11288.043736,11298.141921,1.888895e+10,2.109438e+11
min,1.000000,74.561096,65.526001,68.504997,68.431000,0.000000e+00,7.784112e+08
25%,748.500000,436.179001,422.879486,430.445496,430.569489,3.036725e+07,6.305579e+09
50%,1496.000000,2387.610107,2178.500000,2269.889893,2286.409912,9.460360e+08,3.741503e+10
75%,2243.500000,8733.926948,8289.800460,8569.656493,8576.238715,1.592015e+10,1.499960e+11
max,2991.000000,64863.098910,62208.964370,63523.754870,63503.457930,3.509680e+11,1.186360e+12

## Splitting the data frame into test and training set.

Used the train_test_split() function to split the data set into training(75%) and test(25%) sets.

In [13]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(dataframe_btc, test_size=0.25, random_state=123, shuffle=True)
print(len(train_set), len(test_set))
print(train_set.head())
print(test_set.head())

# Make a copy of the training set
working_set = train_set.copy()

2243 748
       SNo     Name Symbol              Date         High          Low  \
1408  1409  Bitcoin    BTC    3/7/2017 23:59  1275.550049  1204.800049
838    839  Bitcoin    BTC   8/15/2015 23:59   266.666992   261.295990
1993  1994  Bitcoin    BTC  10/13/2018 23:59  6308.510000  6259.810000
2242  2243  Bitcoin    BTC   6/19/2019 23:59  9299.621044  9070.395994
2526  2527  Bitcoin    BTC   3/29/2020 23:59  6250.467309  5920.086018

             Open        Close        Volume     Marketcap
1408  1273.209961  1223.540039  2.912560e+08  1.982477e+10
838    265.528992   261.550995  1.932110e+07  3.792758e+09
1993  6278.080000  6285.990000  3.064030e+09  1.088780e+11
2242  9078.727603  9273.521766  1.554681e+10  1.647810e+11
2526  6245.624627  5922.043123  2.837369e+10  1.083390e+11
       SNo     Name Symbol             Date         High          Low  \
641    642  Bitcoin    BTC  1/30/2015 23:59   242.850998   225.839004
1391  1392  Bitcoin    BTC  2/18/2017 23:59  1061.099976  1046.959961
1195  1196  Bitcoin    BTC   8/6/2016 23:59   588.395996   569.468994
1461  1462  Bitcoin    BTC  4/29/2017 23:59  1327.199951  1315.209961
2502  2503  Bitcoin    BTC   3/5/2020 23:59  9142.054296  8757.254034

             Open        Close        Volume     Marketcap
641    232.772003   226.425003  2.660520e+07  3.120272e+09
1391  1049.209961  1054.420044  9.907350e+07  1.705106e+10
1195   575.030029   587.778015  8.079730e+07  9.286055e+09
1461  1317.839966  1321.790039  4.227060e+08  2.154713e+10
2502  8760.285040  9078.762792  3.969805e+10  1.657320e+11